<% if @topic.errors.any? %>
    <ul>
      <% @topic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>
<div class="form-group">
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
</div>
<div class="form-group">
  <%= f.select :tag_list, Tag.all.map { |x| [x.name, x.name] }, {}, :multiple => true, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.select(:status_published, [['publised', true], ['draft', false]], :class => "form-control") %>
</div>
<div class="form-group">
<%= f.file_field :photo, :class => "form-control" %>
<% if @topic.photo.exists? %>
    <%= check_box_tag "remove_upload_file", "1" %>移除上傳檔案
<% end %>
</div>
<div class="form-group">
<%= f.submit :class => "btn btn-default" %>
</div>
<script>
  $("#topic_tag_list").select2({
    tags: true,
    theme: "bootstrap"
  })
</script>