<% if @topic.errors.any? %>
    <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
	<%=	f.label :title %>
	<%=	f.text_field :title %>
	<%=	f.label :content %>
	<%=	f.text_area :content %>
  <%= f.select(:status_published, [['publised',true],['draft',false]]) %>
  
  <%= f.file_field :photo %>
  <% if @topic.photo.exists? %>
    <%= check_box_tag "remove_upload_file","1" %>移除上傳檔案
  <% end %>

	<%=	f.submit %>