<% if @topic.errors.any? %>
    <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>
<div class="form-group">  
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
</div>
<div class="form-group">  
    <%= f.select :tag_ids, Tag.all.map{ |x| [ x.name, x.id] }, {}, :multiple => true %>
</div>



	<%=	f.label :title %>
	<%=	f.text_field :title %>
	<%=	f.label :content %>
	<%=	f.text_area :content %>
  <%= f.select(:status_published, [['publised',true],['draft',false]]) %>
  
  <%= f.file_field :photo %>
  <% if @topic.photo.exists? %>
    <%= check_box_tag "remove_upload_file","1" %>移除上傳檔案
  <% end %>

	<%=	f.submit %>

  <script>
     $("#topic_tag_ids").select2({
        tags: true
      })
  </script>