<h1>Topic List</h1>
<div>
categories:
<%= link_to 'commercial', topics_path( :category => "commercial") %>
<%= link_to 'technical', topics_path( :category => "technical") %>
<%= link_to 'psychological', topics_path( :category => "psychological") %>
<%= link_to 'all', topics_path %>

</div>


<div>
Sort_by:
<%= link_to 'default', topics_path %>
<%= link_to 'reply number', topics_path( :order => "comments_number") %>
<%= link_to 'lastest reply time', topics_path( :order => "comments_lastest_time") %>
</div>

<br>

<% @topics.each do |t| %>
  <table>
   <tr>
  
	<td><%=	t.title %></td>
	<td><%=	t.user.email %></td>
	<td><%=	t.created_at %></td>
	<td><%=	t.updated_at %></td>
  <td><%= t.comments_number %></td>
  <td><%= t.comments_lastest_time %></td>
    <td><%=	link_to "show",topic_path(t)%></td>
    <td><%=	link_to "edit",edit_topic_path(t) if current_user==t.user%></td>
    <td><%=	link_to "delete",topic_path(t),:method=>"delete" if current_user==t.user %></td>
   </tr>
  </table>
<% end %>

<%=	link_to "new",new_topic_path%>
<br>
<%= link_to "about",about_topics_path%>

<div>
<% if @user %>
see profile:
<%= link_to @user.id,users_path%>
<% end %>
</div>

<%= paginate @topics %>