<ul>
	<li><%= @topic.title %></li>
	<li><%= @topic.content %></li>
	<li><%= @user.email %></li>
	<li><%= @topic.created_at %></li>
	<li><%= @topic.updated_at %></li>
</ul>

<%=	link_to "home",topics_path %>