<p>Categories:
	<% @topic.categorys.each do |c| %>
		<%= c.name %>
	<% end %>
</p>

<ul>
	<li><%= @topic.title %></li>
	<li><%= @topic.content %></li>
	<li><%= @topic.user.email %></li>
	<li><%= @topic.created_at %></li>
	<li><%= @topic.updated_at %></li>
</ul>

<br>
<h2>comments</h2>

<ul>
<% comments = @topic.comments_with_paginate(params[:page]) %>
<% comments.each do |c| %>
  <li>
    <%= c.content %>
    <%= c.user.email %>
    <%= link_to "edit",topic_path(@topic,:comment_id=>c.id)  %>
    <%= link_to "delete",topic_comment_path(@topic,c),:method=>"delete" %>
  </li>
<% end %>
</ul>
<%= paginate comments %>

<% if @comment.id %>
	<%= form_for @comment, :url=>topic_comment_path(@topic,@comment) do |f| %>
		<%=	f.label :content %>
		<%=	f.text_area :content %>
		<%=	f.submit %>
	<% end %>
<% else %>
	<%= form_for @comment, :url=>topic_comments_path(@topic) do |f| %>
		<%=	f.label :content %>
		<%=	f.text_area :content %>
		<%=	f.submit %>
	<% end %>
<% end%>

<% if @comment.errors.any? %>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>


<br>
<%=	link_to "home",topics_path %>