<p>Categories:
	<% @topic.categorys.each do |c| %>
		<%= c.name %>
	<% end %>
</p>

<ul>
	<li><%= @topic.title %></li>
	<li><%= @topic.content %></li>
	<li><%= @user.email %></li>
	<li><%= @topic.created_at %></li>
	<li><%= @topic.updated_at %></li>
</ul>

<br>
<h2>comments</h2>

<ul>
<% @comments.each do |c| %>
  <li><%= c.content %>
    <%= c.user.email %></li>
<% end %>
</ul>
<%= paginate @comments %>

<%= form_for @comment, :url=>topic_comments_path(@topic) do |f| %>
	<%=	f.label :content %>
	<%=	f.text_area :content %>
	<%=	f.submit %>
<% end %>


<br>
<%=	link_to "home",topics_path %>